asgiref==3.8.1
blinker==1.8.2
click==8.1.8
Django==4.2.21
django-extensions==3.2.3
django-showurls==1.0.1
Flask==3.0.3
Flask-Cors==5.0.0
gunicorn==23.0.0
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
packaging==25.0
PyMySQL==1.1.1
sqlparse==0.5.3
typing_extensions==4.13.2
Werkzeug==3.0.6
zipp==3.20.2
